@charset "UTF-8";

.about {
    @include clearfix();
    img {
        display: inline-block;
        margin: {
            right: $spaceSmall;
            bottom: $spaceSmall;
        }
        float: left;
        width: 33.33%;
    }
}