@charset "UTF-8";

footer {
    background-color: $bgColorDark;
    .inner-wrapper {
        padding: {
            top: 0;
            bottom: 0;
        }
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 125px;
        flex-wrap: wrap;
        @include breakpoint(medium) {
            height: 75px;
        }
        .copyright,
        .impressum {
            @include breakpoint(small only) {
                order: 1;
            }
        }
        .social-media-list {
            @include breakpoint(small only) {
                min-width: 250px;
                order: 0;
                flex-grow: 1;
                justify-content: center;
            }
            align-self: center;
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li {
                a {
                    background: none;
                }
                svg {
                    transition: color $anchorTransitionTimeAndEasingOut;
                    height: 35px;
                    width: 35px;
                    color: $fontLight;
                    &:hover {
                        transition: color $anchorTransitionTimeAndEasingIn;
                        color: $ctaRed;
                    }
                }
            }
        }
    }
}