@charset "UTF-8";

header {
    position: relative;
    z-index: z-index($z-index, background);
    height: 100vh;
    min-width: 100%;
    overflow: hidden;
    .main-wrapper {
        height: inherit;
        .inner-wrapper {
            height: inherit;
            display: flex;
            flex: {
                direction: column;
            }
            justify-content: space-between;
            align-items: center;
            padding: {
                top: $mainMenuHeightMobile * 1.35;
                bottom: $mainMenuHeightMobile * 0.5;
            }
            @include breakpoint(large) {
                padding: {
                    top: $mainMenuHeightDesktop * 1.35;
                    bottom: $mainMenuHeightDesktop;
                }
            }
        }
    }
    .header {
        justify-self: flex-start;
    }
    .album {
        @include reset-anchor-hover();
        display: block;
        position: relative;
        width: 250px;
        height: 250px;
        @include breakpoint(medium) {
            width: 350px;
            height: 350px;
        }
        img {
            height: auto;
            width: 100%;
        }
        &:hover {
            .button {
                color: $fontDark;
                &::before {
                    transition: transform $anchorTransitionTimeAndEasingIn;
                    transform: translateY(0);
                }
                span {
                    transition: color $anchorTransitionTimeAndEasingIn;
                }
            }
        }
    }
    .button {
        position: absolute;
        top: calc(100% + #{$spaceSmall});
        left: 0;
        right: 0;
        text-align: center;
    }
    .scroll-down-animation {
        .mouse {
            margin: 0 auto;
            display: block;
            border-radius: 50px;
            border: 1px solid #fff;
            height: 80px;
            width: 40px;
            position: relative;
        }
        .move {
            position: absolute;
            background-color: $fontLight;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            animation: move 2s linear infinite;
        }

        @keyframes move {
            0% {
                transform: translate(-50%, 8px);
                opacity: 0;
            }
            50% {
                transform: translate(-50%, 40px);
                opacity: 1;
            }
            100% {
                transform: translate(-50%, 60px);
                opacity: 0;
            }
        }
    }
}
