@charset "UTF-8";

$z-index: (
    background: 1,
    particleJS: 2,
    bottomShadow: 3,
    content: 4
);

$ctaBlue: #165f8d;
$ctaRed: #961105;
$bgColorDark: #010101;
$bgColorLight: transparent;

$fontFamilyHeading: 'Alternate Gothic', sans-serif;
$fontFamilyText: 'Lato', sans-serif;

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeLarge: 20px;
$fontSizeXLarge: 30px;
$fontSizeXXLarge: 40px;
$fontSizeXXXLarge: 60px;

$spaceXSmall: 12px;
$spaceSmall: 25px;
$spaceNormal: 50px;
$spaceLarge: 75px;
$spaceXLarge: 100px;

$fontDark: #000;
$fontLight: #fff;

$starColor: #fff;
$starLineColor: rgba(#fff, 0.25);

$breakpoints: (
    small: 0,
    medium: 468px,
    large: 769px
);

$global-radius: 0;

$anchorTransitionTimeAndEasingIn: 0.4s ease-out;
$anchorTransitionTimeAndEasingOut: 0.2s ease-out;


$mainMenuHeightMobile: $spaceLarge;
$mainMenuHeightDesktop: $spaceXLarge;
